.section-what {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 6rem 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.489);
  z-index: 1;
}

.what-headline,
.what-body {
  position: relative;
  z-index: 2;
  max-width: 100%;
  color: #afdde5;
}

.what-headline {
  font-size: 2.5rem;
  color: #0fa4af;
  margin-bottom: 2rem;
}

.what-body {
  font-size: 1.2rem;
  line-height: 1.8;
}

.letter {
  display: inline-block;
  will-change: transform, opacity;
}

@media (max-width: 768px) {
  .section-what {
    padding: 4rem 6%;
  }

  .what-headline {
    font-size: 1.8rem;
    text-align: center;
  }

  .what-body {
    font-size: 1rem;
    text-align: center;
  }
}
